@{
    ViewBag.Title = "KYSI Pledge System";
    
}

@using SAE_KYSI_PLEDGE.Controllers;
<a href="~/Controllers/CreateController.cs">~/Controllers/CreateController.cs</a>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
               
            </p>
            <ol class="round" id="menu">
                @*<li class="one"> <a href="../Views/SAE/CreateClass">Add a Pledge Class </a></li>*@

                <li class="one">@Html.ActionLink("Add a Pledge Class","CreateClass", "Create" )</li>

                @*<li class="two"> <a href="../Views/SAE/EditPledge">Edit a Pledge Class</a></li>*@
              <li class="two">@Html.ActionLink("Edit a Pledge Class","EditClass", "Home" )</li>
                
                @*<li class="three"> <a href="https://www.google.com/">Edit a Pledge Information</a></li>*@
                <li class="three">@Html.ActionLink("Edit a Pledge","EditPledge", "Home" )</li>

                @*<li class="four"> <a href="https://www.google.com/">Manage Pledge Points</a></li>*@
                <li class="four">@Html.ActionLink("Manage Points","ManagePoints", "Home" )</li>

            </ol>
        </div>
    </section>
}
