@{
    ViewBag.Title = "EditClassPartialView";
    @model SAE_CORE.Models.PledgeClassModel
}
<div class="text_sae">


    @Html.DisplayFor(m => m.Pledge_Class_Name, "PledgeClassName")
    @Html.DisplayFor(m => m.Pledge_Class_Semester, "PledgeClassSemester")
    @Html.DisplayFor(m => m.Pledge_Class_Year, "PledgeClassYear")
    @Html.DisplayFor(m => m.Pledge_Count, "PledgeCount")
    @Html.DisplayFor(m => m.Pledge_Educator_First_Name, "PledgeEdFirstName")
    @Html.DisplayFor(m => m.Pledge_Educator_Last_Name, "PledgeEdLastName")
    @Html.DisplayFor(m => m.Co_Pledge_Educator_First_Name, "CoPledgeEdFirstName")
    @Html.DisplayFor(m => m.Co_Pledge_Educator_Last_Name, "CoPledgeEdLastName")


</div>