@{
    ViewBag.Title = "Add A Pledge";

    @model SAE_CORE.Models.PledgeViewModel 
}


@section featured
    {
    <div class="text_sae">
        <h2>Add Pledges to Pledge Class </h2>

        @*@Html.Partial("~/Views/SAE/AddPledgeToPledgeClassPartialView.cshtml",SAE_CORE.Models.PledgeClassModel)*@

        @using (Html.BeginForm())
        {
            @*style="display:none;" class="answer_list"*@

            @Html.LabelFor(m => m.FirstName, "First Name")
            @Html.TextBoxFor(m => m.FirstName, "FirstName")

            @Html.LabelFor(m => m.LastName, "Last Name")
            @Html.TextBoxFor(m => m.LastName)

            @Html.LabelFor(m => m.PhoneNumber, "Phone Number")
            @Html.TextBoxFor(m => m.PhoneNumber)

            @Html.LabelFor(m => m.Street_Address, "Street Address")
            @Html.TextBoxFor(m => m.Street_Address)

            @Html.LabelFor(m => m.City, "City")
            @Html.TextBoxFor(m => m.City)

            @Html.LabelFor(m => m.ZipCode, "Zip Code")
            @Html.TextBoxFor(m => m.ZipCode)

            @Html.LabelFor(m => m.Email, "Email")
            @Html.TextBoxFor(m => m.Email)

            @Html.LabelFor(m => m.GradYear, "Expected Grad Year")
            @Html.TextBoxFor(m => m.GradYear)

            @Html.LabelFor(m => m.BigBro_First, "Big Brother First Name")
            @Html.TextBoxFor(m => m.BigBro_First)

            @Html.LabelFor(m => m.BigBro_Last, "Big Brother Last Name")
            @Html.TextBoxFor(m => m.BigBro_Last)
            
            @Html.DropDownListFor(m => m.Pledge_Class_ID, new SelectList(Model.ClassDropDownList.Classes, "Value","Text", Model.ClassDropDownList.SelectedItemID ))
                        
            @Html.LabelFor(m => m.Pledge_Class_Name, "Select Pledge Class")
            @*@Html.Action("ClassDropDownList", "SAE", new { selected = "6", type = "Pledge Class" })*@


            <div>
                <input type="submit" title="CreatePledge" value="Save" />
                <input type="button" title="Cancel" value="Cancel" onclick="location.href= '@Url.Action("Index", "SAE")'" />
            </div>
        }
    </div>

}






