@{
    ViewBag.Title = "EditPledge";
    @model SAE_CORE.Models.PledgeViewModel
}

    @section featured
{
<div class="text_sae">
    <h2>Edit Pledge Information</h2>
        <br />

    @Html.LabelFor(m => m.FirstName, "Select Pledge First Name")
    @Html.DropDownListFor(m => m.FirstName, new SelectList(Model.FirstNameDropDownList.Pledges, "Value", "Text", Model.LastNameDropDownList.Pledges))

    @Html.LabelFor(m => m.LastName, "Select Pledge Last Name")
    @Html.DropDownListFor(m => m.LastName, new SelectList(Model.LastNameDropDownList.Pledges, "Value", "Text", Model.LastNameDropDownList.Pledges))

    <input type="submit" title="Select" value="Select Class" onclick="showDiv()" />
    <input type="button" title="Cancel" value="Cancel" onclick="location.href= '@Url.Action("Index", "SAE")'" />


    @*<div id="displayinfo" style="display:none;" class="answer_list">
        

        @Html.LabelFor(m => m.FirstName, "Select Pledge First Name")
        @Html.Action("PledgeFirstDropDownList", "SAE", new { selected = "1", type = "Pledge First Name" })

        @Html.LabelFor(m => m.LastName, "Select Pledge Last Name")
        @Html.Action("PledgeLastDropDownList", "SAE", new { selected = "1", type = "Pledge Last Name" })

        <img src="/images/SAE.jpg" width="400" height="400" />
    </div>*@



    @*<script>
        function showDiv() {
          
    @Html.Action("PledgeFirstDropDownList", "SAE", new { selected = "1", type = "Pledge First Name" })

            document.getElementById('displayinfo').style.display = "block";
        }
    </script>*@


</div>
    }
